[Desktop Entry]
Encoding=UTF-8
Name=Vyigrat
Comment=Vyigrat P2P Cryptocurrency
Comment[fr]=Vyigrat, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Vyigrat, eşten eşe kriptografik sanal para birimi
Exec=vyigrat-qt %u
Terminal=false
Type=Application
Icon=vyigrat128
MimeType=x-scheme-handler/vyigrat;
Categories=Office;Finance;
